dist: focal

git:
  depth: false
  
language: python
cache: 
  - pip
  - dependencies

python:
    - "3.6"
    - "3.8"

install: 
    - pip install -r requirements.txt

script:
    - python -m pytest --black ./
